{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Your chances for Admission</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="gre_score" id="gre_score" placeholder="GRE Score" step="any" min="290.0" max="340.0"><br>
            <input type="number" name="toefl_score" id="toefl_score" placeholder="TOEFL Score" step="any" min="92" max="120" ><br>
            <input type="number" name="university_rating" id="university_rating" placeholder="University Rating" step="any" min="1" max="5"><br>
            <input type="number" name="sop" id="sop" placeholder="SOP Score" step="any" min="1" max="5"><br>
            <input type="number" name="lor" id="lor" placeholder="LOR Score" step="any" min="1" max="5"><br>
            <input type="number" name="cgpa" id="cgpa"placeholder="CGPA" step="any" min="1.0" max="10.0"><br>
            <select name="research" id="research"><br>
  <option value="yes">Yes</option><br>
  <option value="no">No</option><br>
</select><br>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}